<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Entries needed to download data from server-->
    <add key="private_api_key" value="PLACE_YOUR_API_KEY_HERE"/>
    <add key="today_url" value="http://api.openweathermap.org/data/2.5/weather?q="/>
    <add key="forecast_url" value="http://api.openweathermap.org/data/2.5/forecast?q="/>
    
  </appSettings>
</configuration>